<div class="basket">
    <div class="basket-products">
        <app-basket-product-card></app-basket-product-card>
    </div>
    <div class="basket-summary">
        <div class="basket-summary-total">
            <div class="basket-summary-total-header">Total</div>
            <div class="basket-summary-total-value">€</div>
        </div>
        <div class="basket-summary-subtotal">
            <div class="basket-summary-subtotal-header">Subtotal</div>
            <div class="basket-summary-subtotal-value">€</div>
        </div>
        <div class="basket-summary-subtotal">
            <div class="basket-summary-subtotal-header">Delivery</div>
            <div class="basket-summary-subtotal-value">€</div>
        </div>
        <button mat-flat-button>Check Out</button>
    </div>
</div>

