<p>basket-product-card works!</p>

<div class="basket-product-card">
    <img class="basket-product-card-image">
    <div class="basket-product-card-info">
        <div lass="basket-product-card-info-header"></div>
        <div lass="basket-product-card-info-chip"></div>
        <div lass="basket-product-card-info-price"></div>
    </div>
    <div class="basket-product-card-action">
        <mat-form-field>
            <mat-select>
                <mat-option>
                  1
                </mat-option>
              </mat-select>
        </mat-form-field>
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</div>